<DOCTYPE! html>
<html ng-app="TodoApp">
  <head>
    <meta charset="utf-8">
    <title>TodoApp</title>
    <script src="node_modules/angular/angular.js" type="text/javascript" charset="utf-8"></script>
    <script src="src/app.js" type="text/javascript" charset="utf-8"></script>
    
  </head>
  <body ng-controller="TodoCtrl as ctrl">
    <ul>
      <li ng-repeat="task in ctrl.tasks">
        {{task.title}}
      </li>
    </ul>
    <input type="text" name="task" id="task" placeholder="Add a task description" ng-model="ctrl.newTask"/>
    <button ng-click="ctrl.addTask()">Add Task</button>
  </body>
</html>
